<div class="modal fade" id="modal-id">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h4 class="modal-title text-left"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-5">
                                <label><i class="icon-pencil5"></i> Tên lớp *</label>
                                <input id="txtTenlop" ng-model="Tenlop" type="text" required class="form-control" placeholder="Tên lớp">
                            </div>
                            <div class="col-md-5">
                                <label><i class="icon-pencil5"></i>Mã khối học  *</label>
                                <input id="txtMakhoihoc" ng-model="Makhoihoc" type="text" required class="form-control" placeholder="Mã khối học">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-5">
                                <label><i class="icon-pencil5"></i> Mã giáo viên *</label>
                                <input id="txtMagiaovien" ng-model="Magiaovien" type="text" required class="form-control" placeholder="Mã giáo viên">
                            </div>
                            <div class="col-md-5">
                                <label><i class="icon-pencil5"></i> Sĩ số *</label>
                                <input id="txtSiso" ng-model="Siso" type="text" required class="form-control" placeholder="Sĩ số">
                            </div>
                        </div>
                    </div>
                 
                   

                </div>
            </div>
            <div class="modal-footer">
                <hr />
                <button type="submit" id="btnSubmit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> <span></span></button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban"></i> Bỏ qua</button>
            </div>
        </div>
    </div>
</div>
