<!-- Main navbar -->
<div class="navbar navbar-inverse bg-indigo">
    <div class="navbar-header">
        <a class="navbar-brand" href="/" style="padding:10px 10px!important">
            <div><img width="30" src="~/Assets/images/logo.png" alt="">&nbsp;&nbsp;<span style="font-weight:bold; color:white;width:300px">Trường THPT Trần Hưng Đạo</span></div>
        </a>
        <ul class="nav navbar-nav pull-right visible-xs-block">
            <li>
                <a data-toggle="collapse" data-target="#navbar-mobile">
                    <i class="icon-tree5"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="~/Assets/images/Accounts/normal.jpg" alt="">
                    <span>Ngô Thị Dương</span>
                    <i class="caret"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="/Account/ProfileUser">
                            <i class="icon-user"></i> Thông tin tài khoản
                        </a>
                    </li>
                    <li>
                        <a href="/Account/ChangePassword">
                            <i class="icon-transmission"></i> Thay đổi mật khẩu
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/Account/Login">
                            <i class="icon-switch2"></i> Đăng xuất
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /main navbar -->
<!-- Second navbar -->
<div class="navbar navbar-default" id="navbar-second">
    <ul class="nav navbar-nav no-border visible-xs-block">
        <li>
            <a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle">
                <i class="icon-menu7"></i>
            </a>
        </li>
    </ul>
    <div class="navbar-collapse collapse" id="navbar-second-toggle">
        <ul class="nav navbar-nav navbar-nav-material">
            <li>
                <a href="/">
                    <i class="icon-display4 position-left"></i> Trang chủ
                </a>
            </li>
            <li>
                <a href="~/Home/Index">
                    <i class="icon-cog4 position-left"></i> Học sinh

                </a>

            </li>
            <li>
                <a href="~/LopHoc/LopHoc">
                    <i class="icon-cog4 position-left"></i> Lớp học

                </a>

            </li>
            <li>
                <a href="~/Diem/Diem">
                    <i class="icon-cog4 position-left"></i> Điểm

                </a>

            </li>
            <li>
                <a href="~/LoaiDiem/LoaiDiem">
                    <i class="icon-cog4 position-left"></i>Loại Điểm

                </a>

            </li>
            <li>
                <a href="~/MonHoc/MonHoc">
                    <i></i> Môn học

                </a>

            </li>
            <li>
                <a href="~/KhoiHoc/KhoiHoc">
                    <i class="icon-cog4 position-left"></i> Khối học

                </a>

            </li>
            <li>
                <a href="~/GiaoVien/GiaoVien">
                    <i class="icon-cog4 position-left"></i> Giáo Viên

                </a>

            </li>
        </ul>
    </div>
</div>
<!-- /second navbar -->
